@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Bold.woff'); format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-BoldItalic.woff'); format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport.woff'); format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport.woff'); format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Italic.woff'); format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Light.woff'); format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Light.woff'); format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Medium.woff'); format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/Aeroport-Medium.woff'); format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/AeroportMono.woff'); format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('../fonts/AeroportMono.woff'); format('woff');
    font-weight: 700;
    font-style: monospace;
}
